<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>todo</title>
<link rel="stylesheet" href="/public/stylesheets/todo/normalize.css">
<link rel="stylesheet" href="/public/stylesheets/todo/common.css">
<script type="text/javascript" src="/public/javascripts/todo/logout.js"></script>
</head>

<body>
<header>
	<div class="header-container">
		<h1 id="site-title">todo</h1>
		<p id="greeting">こんにちは、${user.name}さん。</p>
	</div>
</header>

<nav>
	<div class="nav-container">
		<ul>
			<li><a href="/todo.top/">HOME</a></li>
			<li class="current"><a href="index">マイページ</a></li>
			<li><a href="javascript:logout();">ログアウト</a></li>
		</ul>
	</div>
</nav>
<main>
	<div class="main-container">
		<div class="maincol">
			<div class="errmsg">
			#{if flash.ERRMSG != null}
				<p>${flash.ERRMSG}</p>
			#{/if}
			</div>
			<div class="mypage">
				<h2 class="content-title">マイページ</h2>
				<div class="box">
					<h3 class="task-name">チームを作る</h3>
					<form action="postCreateTeam">
						<dl>
							<dt>チームID(必須)</dt>
							<dd><input type="text" name="tid" autofocus required></dd>
							<dt>チーム名(必須)</dt>
							<dd><input type="text" name="name" required></dd>
						</dl>
						<div class="submit"><input type="submit" class="submit-button" value="作成"></div>
					</form>
				</div>
				<br>
				<a href="index">戻る</a>
			</div>
		</div>
		<div class="sidebar">
			サイドバー
		</div>
	</div>
</main>

<footer>
	<div class="footer-container">
	</div>
</footer>
</body>
</html>
