<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>todo</title>
<link rel="stylesheet" href="/public/stylesheets/todo/normalize.css">
<link rel="stylesheet" href="/public/stylesheets/todo/common.css">
<link rel="stylesheet" href="/public/stylesheets/todo/pagination.css">
<script type="text/javascript" src="/public/javascripts/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/public/javascripts/todo/logout.js"></script>
<script type="text/javascript" src="/public/javascripts/todo/pagination.js"></script>
<script type="text/javascript" src="/public/javascripts/todo/task.js"></script>
<script type="text/javascript" src="/public/javascripts/todo/topPage.js"></script>

</head>
<body>
<header>
	<div class="header-container">
		<h1 id="site-title">todo</h1>
		<p id="greeting">こんにちは、${user.name}さん。</p>
	</div>
</header>

<nav>
	<div class="nav-container">
		<ul>
			<li class="current"><a href="index">HOME</a></li>
			<li><a href="/todo.mypage/">マイページ</a></li>
			<li><a href="javascript:logout();">ログアウト</a></li>
		</ul>
	</div>
</nav>

<main>
	<div class="main-container">
		<div class="maincol">
			<div class="errmsg">
			#{if flash.ERRMSG != null}
				<p>${flash.ERRMSG}</p>
			#{/if}
			</div>
			<div class="tasks">
				<h2 class="content-title">タスク一覧</h2>
				<div class="wrapper-filter-btn">
					<ul class="filter-btn">
						<li id="incompleted" class="incompleted on"><a href="#">未完了</a></li>
						<li id="completed" class="completed off"><a href="#">完了済み</a></li>
						<li id="private" class="private off"><a href="#">個人</a></li>
						<li id="public" class="public on"><a href="#">チーム</a></li>
						<li id="all" class="all off"><a href="#">すべて</a></li>
					</ul>
				</div>
				<table id="task-table">
						<tr>
							<th>名前</th>
							<th>担当者</th>
							<th>状態</th>
							<th>締め切り日時(24h制)</th>
							<th></th>
						</tr>
						<!-- ajaxでテーブルを生成 -->
				</table>
				<div class="pager"></div>
				<form action="registerTask" method="post">
					<p><input type="submit" value="タスク登録" autofocus/></p>
				</form>
			</div>
		</div>
		<div class="sidebar">
			サイドバー
		</div>
	</div>
</main>

<footer>
	<div class="footer-container">
	</div>
</footer>
</body>
</html>
