<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>todo</title>
<link rel="stylesheet" href="/public/stylesheets/todo/normalize.css">
<link rel="stylesheet" href="/public/stylesheets/todo/common.css">
</head>
<body>

<div id="page">
<header id="pageHead">
	<h1 id="siteTitle">todo</h1>
	<p id="geeting">こんにちは、${user.name}さん</p>
	<nav class="globalNavi">
		<ul>
			<li class="current"><a href="./index">ホーム</a></li>
			<li><a href="./myPage">マイページ</a></li>
		</ul>
	</nav>
</header>

<div class="errmsg">
	#{if flash.ERRMSG != null}
	<p style="color: red">${flash.ERRMSG}</p>
	#{/if}
</div>

<div id="pageBody">
<div class="tasks">
	<h2 class="pageTitle">タスク一覧</h2>
	#{if listTaskDto == null || listTaskDto.isEmpty()}
	<p>タスクはありません。</p>
	#{/if}
	#{else}
	<table>
	<tr>
		<th>タスク名</th>
		<th>担当者</th>
		<th>依頼者</th>
		<th>状態</th>
		<th>締め切り日時(24h制)</th>
	</tr>
	%{ for(taskDto in listTaskDto) { }%
	<tr>
		<td class="taskLink"><a href="./getTaskDetail">${taskDto.taskName}</a></td>
		<td>${taskDto.picName}</td>
		<td>${taskDto.clientName}</td>
		<td>${taskDto.taskState}</td>
		<td>${taskDto.limitTime}</td>
	</tr>
	%{ } }%
	</table>
	#{/else}
	<form action="registerTask" method="post">
		<p><input type="submit" value="タスクを登録"/></p>
	</form>
</div>

<a href="/todo.login/logout">ログアウト</a>

</div>
</div>

</body>
</html>
