<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>exp4todo Task Management</title>
</head>
<body>
<h2>Topページ</h2>
<p>こんにちは${user.name}さん</p>
#{if flash.errmsg != null}
<p style="color: red">${flash.errmsg}</p>
#{/if}
<h3>タスク一覧</h3>
#{if listTask == null || listTask.isEmpty}
<p>タスクはありません。</p>
#{/if}
#{else}
<table border="1px">
<tr style="background-color: gold">
<td>タスク名</td>
<td>詳細</td>
<td>依頼者</td>
<td>担当者</td>
<td>状態</td>
<td>登録日時</td>
<td>更新日時</td>
<td></td>
<td></td>
</tr>
%{ for(task in listTask) { }%
<tr>
<td>task.name</td>
<td>task.description</td>
<td>task.client</td>
<td>task.listPic</td>
<td>task.taskState</td>
<td>task.registerTime</td>
<td>task.updateTime</td>
<td><form action="updateTask" method="post">
<input type="submit" value="編集">
<input type="hidden" name="id" value="${task.getId()}">
</form></td>
<td><form action="deleteTask" method="post">
<input type="submit" value="削除">
<input type="hidden" name="id" value="${task.getId()}">
</form></td>
</tr>
%{ } }%
</table>
#{/else}
<form action="registerTask" method="post">
<p><input type="submit" value="タスクを登録"/></p>
</form>
<a href="/todo.login/logout">ログアウト</a>
</body>
</html>
