<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>todo</title>
<link rel="stylesheet" href="/public/stylesheets/todo/normalize.css">
<link rel="stylesheet" href="/public/stylesheets/todo/common.css">
<script type="text/javascript" src="/public/javascripts/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/public/javascripts/todo/pagenation.js"></script>
<script>
$(function() {
	$('.data-row').pagenation({
		pager		:$('pager'),
		prevText	:'＜',
		nextText	:'＞',
		firstText	:'《',
		lastText	:'》',
		viewNum		:5,
		pagerNum	:3,
		ellipsis	:false,
		linkInvalid	:true,
		goTop		:true,
		firstLastNav:true,
		prevNextNav	:false
	});
});
</script>

</head>
<body>
<header>
	<div class="header-container">
		<h1 id="site-title">todo</h1>
		<p id="greeting">こんにちは、${user.name}さん。</p>
	</div>
</header>

<nav>
	<div class="nav-container">
		<ul>
			<li class="current"><a href="index">HOME</a></li>
			<li><a href="myPage">マイページ</a></li>
			<li><a href="/todo.login/logout">ログアウト</a></li>
		</ul>
	</div>
</nav>

<main>
	<div class="main-container">
		<div class="maincol">
			<div class="errmsg">
			#{if flash.ERRMSG != null}
				<p>${flash.ERRMSG}</p>
			#{/if}
			</div>
			<div class="tasks">
				<h2 class="content-title">タスク一覧</h2>
				#{if listTaskDto == null || listTaskDto.isEmpty()}
					<p>タスクはありません。</p>
				#{/if}
				#{else}
					<table>
						<tr>
							<th>名前</th>
							<th>担当者</th>
							<th>状態</th>
							<th>締め切り日時(24h制)</th>
						</tr>
						%{ for(taskDto in listTaskDto) { }%
							<tr class="data-row">
								<td class="taskLink">
									<form action="taskDetail" method="post" name="form${taskDto.id}">
										<input type="hidden" name="taskId" value="${taskDto.id}">
										<a href="javascript:form${taskDto.id}.submit()" >${taskDto.taskName}</a>
									</form>
								</td>
								<td>${taskDto.picName}</td>
								<td>${taskDto.taskState}</td>
								<td>${taskDto.limitTime}</td>
							</tr>
						%{ } }%
					</table>
					<div class="pager"></div>
				#{/else}
				<form action="registerTask" method="post">
					<p><input type="submit" value="タスク登録"/></p>
				</form>
			</div>
		</div>
		<div class="sidebar">
			サイドバー
		</div>
	</div>
</main>

<footer>
	<div class="footer-container">
	</div>
</footer>
</body>
</html>
