<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>todo</title>
<link rel="stylesheet" href="/public/stylesheets/todo/normalize.css">
<link rel="stylesheet" href="/public/stylesheets/todo/common.css">
<script type="text/javascript" src="/public/javascripts/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/public/javascripts/todo/getNow.js"></script>
</head>
<body>
<header>
	<div class="header-container">
		<h1 id="site-title">todo</h1>
		<p id="greeting">こんにちは、${user.name}さん。</p>
	</div>
</header>

<nav>
	<div class="nav-container">
		<ul>
			<li class="current"><a href="index">HOME</a></li>
			<li><a href="myPage">マイページ</a></li>
			<li><a href="/todo.login/logout">ログアウト</a></li>
		</ul>
	</div>
</nav>

<main>
	<div class="main-container">
		<div class="maincol">
			<div class="errmsg">
			#{if flash.ERRMSG != null}
				<p style="color: red">${flash.ERRMSG}</p>
			#{/if}
			</div>
			<div class="register-task">
				<h2 class="content-title">タスク登録</h2>
				<div class="box">
					<form action="postRegisterTask" method="post">
						<dl>
							<dt>タスク名(必須)</dt>
							<dd><input type="text" name="name" autofocus required/></dd>
							<dt>詳細</dt>
							<dd><textarea name="description"></textarea></dd>
							<dt>チームに公開(必須)</dt>
							<dd>
								<input type="radio" name="taskType" value="PRIVATE" checked/>しない
								<input type="radio" name="taskType" value="PUBLIC"/>する
							</dd>
							<dt>締め切り日時(必須)</dt>
							<dd><input type="datetime-local" class="datetime-local" name="limitTime"></dd>
						</dl>
						<div class="submit">
							<input type="submit" class="submit-button" value="タスク登録"/>
						</div>
					</form>
				</div>
				<br>
				<a href="index">戻る</a>
			</div>
		</div>
		<div class="sidebar">
			サイドバー
		</div>
	</div>
</main>

<footer>
	<div class="footer-container">
	</div>
</footer>
</body>
</html>