<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>todo</title>
<link rel="stylesheet" href="/public/stylesheets/todo/normalize.css">
<link rel="stylesheet" href="/public/stylesheets/todo/common.css">
<script type="text/javascript" src="/public/javascripts/todo/logout.js"></script>
</head>
<body>
<header>
	<div class="header-container">
		<h1 id="site-title">todo</h1>
		<p id="greeting">こんにちは、${user.name}さん。</p>
	</div>
</header>

<nav>
	<div class="nav-container">
		<ul>
			<li class="current"><a href="index">HOME</a></li>
			<li><a href="/todo.mypage/">マイページ</a></li>
			<li><a href="javascript:logout();">ログアウト</a></li>
		</ul>
	</div>
</nav>

<main>
	<div class="main-container">
		<div class="maincol">
			<div class="errmsg">
			#{if flash.ERRMSG != null}
				<p>${flash.ERRMSG}</p>
			#{/if}
			</div>

			<div class="task-detail">
				<h2 class="content-title">タスク詳細</h2>
				<div class="box">
					<h3 class="task-name">${taskDto.taskName}</h3>
					<dl>
						<dt>詳細</dt>
						<dd><div class="taskDescription">${taskDto.description.nl2br()}</div></dd>
						<dt>締め切り日時</dt>
						<dd>${taskDto.limitTime}</dd>
						<dt>担当者</dt>
						<dd>${taskDto.picName}</dd>
						<dt>依頼者</dt>
						<dd>${taskDto.clientName}</dd>
						<dt>更新日時</dt>
						<dd>${taskDto.updateTime}</dd>
					</dl>
					<ul class="buttons">
						#{if taskDto.taskState == "未完了"}
							<li>
								<form action="completeTask" name="completeTaskForm" method="post">
									<input type="hidden" name="taskId" value="${taskDto.id}">
									<a class="complete-button" href="javascript:completeTaskForm.submit()">完了する</a>
								</form>
							</li>
						#{/if}
						#{else}
							<li>
								<form action="incompleteTask" name="incompleteTaskForm" method="post">
									<input type="hidden" name="taskId" value="${taskDto.id}">
									<a class="incomplete-button" href="javascript:incompleteTaskForm.submit()">完了を取り消す</a>
								</form>
							</li>
						#{/else}
						<li>
							<form action="updateTask" name="updateTaskForm" method="post">
								<input type="hidden" name="taskId" value="${taskDto.id}">
								<a class="update-button" href="javascript:updateTaskForm.submit()">編集する</a>
							</form>
						</li>
						<li>
							<form action="deleteTask" name="deleteTaskForm" method="post">
								<input type="hidden" name="taskId" value="${taskDto.id}">
								<a class="delete-button" href="javascript:deleteTaskForm.submit()">削除する</a>
							</form>
						</li>
					</ul>
				</div>
			</div>
			<br>
			<a href="index">戻る</a>
		</div>
		<div class="sidebar">
			サイドバー
		</div>
	</div>
</main>

<footer>
	<div class="footer-container">
	</div>
</footer>
</body>
</html>
