<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>todo</title>
<link rel="stylesheet" href="/public/stylesheets/todo/normalize.css">
<link rel="stylesheet" href="/public/stylesheets/todo/common.css">
</head>
<body>

<div id="page">
<header id="pageHead">
	<h1 id="siteTitle">todo</h1>
	<p id="geeting">こんにちは、${user.name}さん</p>
	<nav class="globalNavi">
		<ul>
			<li class="current"><a href="./index">ホーム</a></li>
			<li><a href="./myPage">マイページ</a></li>
		</ul>
	</nav>
</header>

<div class="errmsg">
	#{if flash.ERRMSG != null}
	<p style="color: red">${flash.ERRMSG}</p>
	#{/if}
</div>

<div id="pageBody">
<div class="taskDtail">	
<h2 class="pageTitle">タスク詳細</h2>
	<div class="contents">
	<dl>
		<dt><b>タスク名</b></dt>
		<dd><b>${taskDto.taskName}</b></dd>
		<dt>内容</dt>
		<dd><div class="taskDescription">${taskDto.description}</div></dd>
		<dt>担当者</dt>
		<dd>${taskDto.picName} &lt;${taskDto.picUid}&gt;</dd>
		<dt>依頼者</dt>
		<dd>${taskDto.clientName} &lt;${taskDto.clientUid}&gt;</dd>
	</dl>
	</div>
</div>
<a href="./">戻る</a>
<a href="/todo.login/logout">ログアウト</a>

</div>
</div>

</body>
</html>
