<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>exp4todo Task Management</title>
</head>
<body>
<h2>Task Management</h2>
<h3>ログイン</h3>
#{if flash.ERRMSG != null}
<p style="color: red">${flash.ERRMSG}</p>
#{/if}
<form action="postLogin" method="post">
<p>ユーザーID: <input name="uid" type="text" required/></p>
<p>パスワード: <input name="pw" type="text" required/></p>
<p><input type="submit" value="ログイン"/></p>
</form>
<a href="registerUser">はじめての方はコチラ</a>
</body>
</html>
