<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>todo</title>
<link rel="stylesheet" href="/public/stylesheets/todo/normalize.css">
<link rel="stylesheet" href="/public/stylesheets/todo/common.css">
</head>
<body>
<header>
	<div class="header-container">
		<h1 id="site-title">todo</h1>
		<p id="greeting">ようこそ、<span class="inline-title">todo</span>へ</p>
	</div>
</header>

<nav>
	<div class="nav-container">
		<ul>
			<li><a href="index">ログイン</a></li>
			<li class="current"><a href="registerUser">新規登録</a></li>
		</ul>
	</div>
</nav>

<main>
	<div class="main-container">
		<div class="maincol">
			<div class="errmsg">
			#{if flash.ERRMSG != null}
				<p>${flash.ERRMSG}</p>
			#{/if}
			</div>
			<div class="register-user-form">
				<h2 class="content-title">新規登録</h2>
				<div class="box">
					<form action="postRegisterUser" method="post">
						<dl>
							<dt>ユーザーID</dt>
							<dd><input name="uid" type="text" autofocus required/></dd>
							<dt>パスワード</dt>
							<dd><input name="pw" type="password"/></dd>
							<dt>ニックネーム</dt>
							<dd><input name="name" type="text" required/></dd>
						</dl>
						<div class="submit">
							<input type="submit" class="submit-button" value="新規登録"/>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="sidebar">
			サイドバー
		</div>
	</div>
</main>

<footer>
	<div class="footer-container">
	</div>
</footer>

</body>
</html>
