<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>todo</title>
	<link rel="stylesheet" href="/public/stylesheets/todo/normalize.css">
	<link rel="stylesheet" href="/public/stylesheets/exp4todo.css">
</head>
<body>
<header>
	<div class="header-container">
		ヘッダー
	</div>
</header>
<nav>
	<div class="nav-container">
		ナビゲーション
	</div>
</nav>
<main>
	<div class="main-container">
		<div class="maincol">
			メインカラム
		</div>
		<div class="sidebar">
			サイドバー
		</div>
	</div>
</main>
<footer>
	<div class="footer-container">
		フッター
	</div>
</footer>
</body>
</html>