@charset "UTF-8";
/* ページネーション */
.pager {
	margin: 30px;
	text-align: center;
}

.pager span {
	margin: 0;
	padding: 5px 8px;
	color: #999966;
	background: #FFFFFF;
	border-left: solid 1px #CCCCCC;
}
.pager span:first-child {
	border-left: none;
}
.pager span:hover {
	cursor: pointer;
	background: #F2F2E5;
}

.pager span.current {
	background: #F2F2E5;
}
.pager span.current:hover {
	cursor: default;
}

.pager span.invalid {
	color: #DCDCDC;
	background: none;
	cursor: default;
}
.pager span.ellipsis {
	background: none;
}
.pager span.ellipsis:hover {
	cursor: defaut;
}
